spring:

  profiles:
    include:
      - tmp
#      - JP
#    active: JP

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
